<app-header></app-header>
<!-- Page Content -->
<div class="container main-container">
  <!-- BURGER -->
  <div class="box">
    <div class="bread-top">
      <div class="seeds"></div>
      <div class="seeds2"></div>
    </div>

    <p *ngIf="addedIngredients.length === 0">Please start adding ingredients!</p>
    <app-burger-ingredient *ngFor="let ingredient of addedIngredients;" type="{{ingredient}}"></app-burger-ingredient>

    <div class="bread-bottom"></div>
  </div>

  <!-- BURGER Controls -->
  <app-controls [state]="state" (updateStateOutputCallback)="updateStateOutputCallback($event)"></app-controls>
</div>
<!-- /.container -->